@using Model.EF;
@model List<Product>

    <div class="features_items" id="AllProduct">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="col-sm-4 itemProduct">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <div class="imgShow">
                                    <img src="@item.Image" alt="" />
                                </div>
                                <h2>@item.Price.Value.ToString("#,##") VNĐ</h2>
                                <p class="txtProductName">@item.Name</p>
                                @using (Ajax.BeginForm("AddCartItem", "Cart", new { @id = item.ID, @strUrl = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CartHeader", InsertionMode = InsertionMode.Replace }))
                                {
                                    <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua hàng</button>
                                }
                            </div>
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                @if (item.Quantity > 0)
                                {
                                    <li><a href="#" style="color: green;"><i class="fa fa-plus-square"></i>Còn hàng (@item.Quantity)</a></li>
                                    <li class="txtChiTietSP"><a class="txtChiTietSP" href="@Url.Action("Detail","Product",new { @id=item.ID})" style="color: darkgoldenrod;"><i class="fa fa-plus-square"></i>Chi tiết sản phẩm</a></li>
                                }
                                else
                                {
                                    <li><a href="#" style="color: red;"><i class="fa fa-plus-square"></i>Hết hàng</a></li>
                                    <li class="txtChiTietSP"><a href="@Url.Action("Detail","Product",new { @id=item.ID})" style="color: darkgoldenrod;"><i class="fa fa-plus-square"></i>Chi tiết sản phẩm</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Không tìm thấy sản phẩm
            </div>
        }

    </div><!--features_items-->
