@using Model.EF;
@model Blog

@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

    var _session = ViewBag.Session as Economy.Common.UserLogin;
    var lstcmt = ViewBag.comment as List<CommentBlog>;
}
<style>
    .btnShowAllCmt {
        margin-left: 42%;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">

                    @Html.Action("Category", "Home")

                    @Html.Action("Brand", "Home")

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="~/Assets/LayoutWebsite/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right ">
                <div class="blog-post-area">
                    <h2 class="title text-center">Blog Detail</h2>
                    <div class="single-blog-post">
                        <h3 style="font-weight:600; font-size:20px;">@Model.Title</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> @Model.Creater</li>
                                <li><i class="fa fa-calendar"></i> @Model.CreatedDate</li>
                            </ul>
                        </div>
                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                </div>
                <div class="rating-area">
                    <ul class="ratings">
                        <li class="rate-this">Rate this item:</li>
                        <li>
                            <i class="fa fa-star color"></i>
                            <i class="fa fa-star color"></i>
                            <i class="fa fa-star color"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="color">(6 votes)</li>
                    </ul>
                    <ul class="tag">
                        <li>TAG:</li>
                        <li><a class="color" href="">Pink <span>/</span></a></li>
                        <li><a class="color" href="">T-Shirt <span>/</span></a></li>
                        <li><a class="color" href="">Girls</a></li>
                    </ul>
                </div><!--/rating-area-->

                <div class="socials-share">
                    <a href=""><img src="~/Assets/LayoutWebsite/images/blog/socials.png" alt=""></a>
                </div><!--/socials-share-->

                <div class="media commnets">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="~/Assets/LayoutWebsite/images/blog/man-one.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Annie Davis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="blog-socials">
                            <ul>
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a class="btn btn-primary" href="">Other Posts</a>
                        </div>
                    </div>
                </div><!--Comments-->
                <div class="replay-box">
                    <div class="row">
                        <div class="col-md-12">
                            @if (_session == null)
                            {
                                <input value="@Model.ID" type="hidden" name="idProduct" />
                                using (Html.BeginForm("DemoLogin", "RegisterAndLogin", FormMethod.Post))
                                {
                                    <button type="button" class="btn btn-info btn-lg btnShowAllCmt" data-toggle="modal" data-target="#myModal">Đăng nhập để bình luận</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Đăng nhập tại đây</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="hidden" class="form-control" value="@Request.Url.ToString()" name="strUrl" />
                                                    <input type="text" class="form-control" placeholder="Nhập email..." name="txtEmail" />
                                                    <br />
                                                    <input type="password" class="form-control" placeholder="Nhập mật khẩu..." name="txtPass" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success">Đăng nhập</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                using (Ajax.BeginForm("CommentBlogPartial", "Comment", FormMethod.Post, new AjaxOptions { UpdateTargetId = "lstCmt", InsertionMode = InsertionMode.InsertBefore }))
                                {
                                    <input value="@Model.ID" type="hidden" name="txtID" />
                                    if (_session != null)
                                    {
                                        <input value="@_session.Avatar" name="txtAvatar" type="hidden" />
                                    }
                                    <div class="col-md-4">
                                        <h2>Nhận xét</h2>
                                        <div class="blank-arrow">
                                            <label>Tên hiển thị</label>
                                        </div>
                                        <span>*</span>
                                        <input type="text" placeholder="Họ và tên..." name="txtUserName">
                                        <div class="blank-arrow">
                                            <label>Email</label>
                                        </div>
                                        <span>*</span>
                                        <input type="text" value="@_session.UserEmail" disabled name=" txtUserEmail">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="text-area">
                                            <div class="blank-arrow">
                                                <label>Your comment</label>
                                            </div>
                                            <span>*</span>
                                            <textarea name="contentCmt" rows="11" style="height:85px;"></textarea>
                                            <button class="btn btn-primary" type="submit">Đăng bình luận</button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div><!--/Repaly Box-->
                <div class="response-area">
                    <h2>Bình luận</h2>
                    <ul class="media-list" id="lstCmt">
                        @foreach (var item in lstcmt)
                        {
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="@item.Avatar" style="width: 100px;">
                                </a>
                                <div class="media-body">
                                    <ul class="sinlge-post-meta">
                                        <li><i class="fa fa-user"></i>@item.UserName</li>
                                        <li><i class="fa fa-calendar"></i>@item.CreatedDate</li>
                                    </ul>
                                    <p>@item.CmtContent</p>
                                </div>
                            </li>
                            <br />
                        }
                    </ul>
                    @using (Ajax.BeginForm("GetAllCommentBlog", "Comment", FormMethod.Post, new AjaxOptions { UpdateTargetId = "lstCmt", InsertionMode = InsertionMode.Replace }))
                    {
                        <input value="@Model.ID" name="idProdtxt" type="hidden" />
                        <button type="submit" class="btn btn-primary" style="height: 30px; margin-left: 42%; margin-top: 0px;">Hiển thị tất cả nhận xét <i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                    }
                </div><!--/Response-area-->
            </div>
        </div>
    </div>
</section>

