@using Economy.Models;
@model AddNewProduct
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add new product</h4>
                        <p class="card-category">E-Shopper</p>
                    </div>
                    <div class="card-body">

                        @using (Html.BeginForm("Create", "HomeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Product name</label>
                                        @Html.TextBoxFor(Model => Model.ProductName, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(Model => Model.ProductName, null, new { @style = "color:red" })
                                    </div>
                                </div>
                                @if (ViewBag.Brand != null)
                                {
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Brand</label>
                                            </div>
                                            @Html.DropDownListFor(Model => Model.BrandName, ViewBag.Brand as SelectList, "", new { @class = "custom-select col-md-12" })
                                            @Html.ValidationMessageFor(Model => Model.BrandName, null, new { @style = "color:red" })
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Cates != null)
                                {
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Category</label>
                                            </div>
                                            @Html.DropDownListFor(Model => Model.CategoryName, ViewBag.Cates as SelectList, "", new { @class = "custom-select col-md-12" })
                                            @Html.ValidationMessageFor(Model => Model.CategoryName, null, new { @style = "color:red" })
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Price</label>
                                        @Html.TextBoxFor(Model => Model.Price, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(Model => Model.Price, null, new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Promotion price</label>
                                        @Html.TextBoxFor(Model => Model.PromotionPrice, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(Model => Model.PromotionPrice, null, new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="bmd-label-floating">Quantity</label>
                                    @Html.TextBoxFor(Model => Model.Quantity, null, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(Model => Model.Quantity, null, new { @style = "color:red" })
                                </div>
                                <div class="col-md-10">
                                    <label class="bmd-label-floating">Image</label>
                                    <input type="button" value="Select Image" id="selectImg" class="controls" multiple />
                                    @Html.TextBoxFor(Model => Model.Image, new { @class = "form-control", @id = "linkUrlImg" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="bmd-label-floating">Image1</label>
                                    <input type="button" value="img1" id="selectImg1" class="controls" name="file" />
                                    @Html.TextBoxFor(Model => Model.Image1, new { @class = "form-control", @id = "linkUrlImg1" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bmd-label-floating">Image2</label>
                                    <input type="button" value="img2" id="selectImg2" class="controls" name="file" />
                                    @Html.TextBoxFor(Model => Model.Image2, new { @class = "form-control", @id = "linkUrlImg2" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bmd-label-floating">Image3</label>
                                    <input type="button" value="img3" id="selectImg3" class="controls" name="file" />
                                    @Html.TextBoxFor(Model => Model.Image3, new { @class = "form-control", @id = "linkUrlImg3" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bmd-label-floating">Image4</label>
                                    <input type="button" value="img4" id="selectImg4" class="controls" name="file" />
                                    @Html.TextBoxFor(Model => Model.Image4, new { @class = "form-control", @id = "linkUrlImg4" })
                                </div>
                                <div class="col-md-2">
                                    <label class="bmd-label-floating">Image5</label>
                                    <input type="button" value="img5" id="selectImg5" class="controls" name="file" />
                                    @Html.TextBoxFor(Model => Model.Image5, new { @class = "form-control", @id = "linkUrlImg5" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="bmd-label-floating">Detail</label>
                                    @Html.TextAreaFor(Model => Model.Detail, new { @class = "form-control", @id = "txtDetail" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div class="form-group">
                                            @Html.TextAreaFor(Model => Model.Description, new { @id = "txtNoidung" })
                                            @Html.ValidationMessageFor(Model => Model.Description, null, new { @style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" id="addProd" onclick="return confirm('Thêm sản phẩm thành công');">Add</button>
                            <div class="clearfix"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
