@using Model.EF;
@model List<Product>
@{
    ViewBag.Title = "HomeAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@Html.Action("PopupModal", "Partial")

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title " style="font-weight:600">DANH SÁCH SẢN PHẨM</h4>
                <p class="card-category">E-shopper</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td><img src="@item.Image" alt="@item.Name" width="100px" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.BrandName</td>
                                    <td>@item.CategoryName</td>
                                    <td class="text-primary">@item.Price.Value.ToString("N0") VNĐ</td>
                                    <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>