@using Model.EF;
@using Economy.Common;
@model Product


@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

    var _session = ViewBag.Session as Economy.Common.UserLogin;
    var lstcmt = ViewBag.comment as List<CommentProuct>;
}

<style>
    .btnShowAllCmt {
        margin-left: 42%;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">

                    @Html.Action("Category", "Home")
                    @Html.Action("Brand", "Home")

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b>$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="exzoom" id="exzoom">
                            <div class="exzoom_img_box">
                                <ul class='exzoom_img_ul'>
                                    <li><img src="@Model.Image" /></li>
                                    <li><img src="@Model.MoreImg1" /></li>
                                    <li><img src="@Model.MoreImg2" /></li>
                                    <li><img src="@Model.MoreImg3" /></li>
                                    <li><img src="@Model.MoreImg4" /></li>
                                    <li><img src="@Model.MoreImg5" /></li>
                                    <li><img src="@Model.MoreImg3" /></li>
                                </ul>
                            </div>
                            <div class="exzoom_nav"></div>
                            <p class="exzoom_btn">
                                <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
                                <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <h2>@Model.Name</h2>
                            <p>Mã sản phẩm: @Model.ID</p>
                            <img src="~/Assets/LayoutWebsite/images/product-details/rating.png" alt="" />
                            <span>
                                <span>@Model.PromotionPrice.Value.ToString("#,##") đồng</span>
                            </span>
                            @if (Model.Quantity > 0)
                            {
                                <label>Tình trạng: Còn hàng (@Model.Quantity)</label>
                            }
                            else
                            {
                                <label>Tình trạng: <span style="color: red;">Hết hàng</span></label>
                            }
                            @using (Ajax.BeginForm("AddCartItem", "Cart", new { @id = Model.ID, @strUrl = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CartHeader", InsertionMode = InsertionMode.Replace }))
                            {
                                <button type="submit" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Mua hàng
                                </button>
                            }
                            <p><b>Giá gốc:</b> @Model.Price.Value.ToString("#,##") đồng</p>
                            <p><b>Danh mục:</b> @Model.CategoryName</p>
                            <p><b>Thương hiệu:</b> @Model.BrandName</p>
                            <a href=""><img src="~/Assets/LayoutWebsite/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#chitiet" data-toggle="tab">Chi tiết sản phẩm</a></li>
                            <li><a href="#details" data-toggle="tab">Mô tả sản phẩm</a></li>
                            <li><a href="#reviews" data-toggle="tab">Nhận xét</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="chitiet">
                            <div>
                                @Html.Raw(Model.Detail)
                            </div>

                        </div>
                        <div class="tab-pane fade" id="details">
                            @Html.Raw(Model.Description)
                        </div>

                        <div class="tab-pane fade" id="reviews">
                            @if (_session == null)
                            {
                                <input value="@Model.ID" type="hidden" name="idProduct" />
                                using (Html.BeginForm("DemoLogin", "RegisterAndLogin", FormMethod.Post))
                                {
                                    <button type="button" class="btn btn-info btn-lg btnShowAllCmt" data-toggle="modal" data-target="#myModal">Đăng nhập để bình luận</button>
                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Đăng nhập tại đây</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="hidden" class="form-control" value="@Request.Url.ToString()" name="strUrl" />
                                                    <input type="text" class="form-control" placeholder="Nhập email..." name="txtEmail" />
                                                    <br />
                                                    <input type="password" class="form-control" placeholder="Nhập mật khẩu..." name="txtPass" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default">Đăng nhập</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                            else
                            {
                                <div class="col-sm-12">
                                    <p><b>Viết đánh giá của bạn tại đây</b></p>
                                    @using (Ajax.BeginForm("CommentProductPartial", "Comment", FormMethod.Post, new AjaxOptions { UpdateTargetId = "lstCmt", InsertionMode = InsertionMode.InsertBefore }))
                                    {
                                        <input type="hidden" value="@Model.ID" name="txtID" />
                                        if (_session != null)
                                        {
                                            <input value="@_session.Avatar" name="txtAvatar" type="hidden" />
                                        }
                                        <span>
                                            <input style="color: brown; font-weight: 600;" placeholder="Tên hiển thị" name="txtUserName" />
                                            <input style="color: brown; font-weight: 600;" value="@_session.UserEmail" disabled name=" txtUserEmail" />
                                        </span>
                                        <textarea placeholder="Viết đánh giá..." name="contentCmt"></textarea>
                                        <button type="submit" class="btn btn-default pull-right">
                                            Submit
                                        </button>
                                    }
                                </div>
                            }
                            <div class="response-area">
                                <h2>Nhận xét</h2>
                                <ul class="media-list" id="lstCmt">
                                    @foreach (var item in lstcmt)
                                    {
                                        <li class="media">
                                            <a class="pull-left" href="#">
                                                <img class="media-object" src="@item.Avatar" style="width: 100px;">
                                            </a>
                                            <div class="media-body">
                                                <ul class="sinlge-post-meta">
                                                    <li><i class="fa fa-user"></i>@item.UserName</li>
                                                    <li><i class="fa fa-calendar"></i>@item.CreatedDate</li>
                                                </ul>
                                                <p>@item.CmtContent</p>
                                            </div>
                                        </li>
                                        <br />
                                    }
                                    @using (Ajax.BeginForm("GetAllComment", "Comment", FormMethod.Post, new AjaxOptions { UpdateTargetId = "lstCmt", InsertionMode = InsertionMode.Replace }))
                                    {
                                        <input value="@Model.ID" name="idProdtxt" type="hidden" />
                                        <button class="btnShowAllCmt" type="submit" style="background:#0086b9;">Hiển thị tất cả nhận xét <i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/category-tab-->
                @Html.Action("NewBlogs", "Blog")
            </div>
        </div>
    </div>
</section>
