@using Economy.Models;
@model CartItemModel
     
@{
    ViewBag.Title = "EditCartItem";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

    List<CartItemModel> lstCartItem = ViewBag.Cart as List<CartItemModel>;
}

<section id="cart_items">
    <div class="container">
        @if (lstCartItem.Count == 0)
        {
            <h2 class="alert alert-danger">Giỏ hàng rỗng | Tiếp tục mua hàng @Html.ActionLink("tại đây", "Index", "Home")</h2>
        }
        else
        {
            <div class="review-payment">
                <h2>Giỏ hàng</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image" style="width:120px;">Sản phẩm</td>
                            <td class="description" style="width:250px;"></td>
                            <td class="price">Đơn giá</td>
                            <td class="quantity">Số lượng</td>
                            <td class="total">Thành tiền</td>
                            <td style="width:100px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstCartItem)
                        {
                            if (Model.ProductID == item.ID)
                            {
                                using (Html.BeginForm("EditCartItem","Cart", FormMethod.Post,null))
                                {
                                    <tr>
                                        @Html.Hidden("ProductID", item.ProductID)
                                        @*<input value="@item.ProductID" type="hidden" name="ProductID"/>*@
                                        <td class="cart_product" style="margin-top:20px;margin-bottom:20px; margin-right:20px;">
                                            <a href="@Url.Action("Detail", "Product", new { @id = item.ID })"><img style="width:110px;" src="@item.ImageProduct" alt=""></a>
                                        </td>
                                        <td class="cart_description">
                                            <h4><a href="@Url.Action("Detail", "Product", new { @id = item.ID })">@item.ProductName</a></h4>
                                            <p>Mã sản phẩm: @item.ProductID</p>
                                        </td>
                                        <td class="cart_price">
                                            <p>@item.Price.ToString("#,##") đồng</p>
                                        </td>
                                        <td class="cart_quantity">
                                            <div class="cart_quantity_button">
                                                @*<input value="@item.Quantity" name="Quantity" size="2" class="cart_quantity_input"/>*@
                                                @Html.TextBox("Quantity", item.Quantity, new { @class = "cart_quantity_input", @size = "2" })
                                            </div>
                                        </td>
                                        <td class="cart_total" style="width:200px;">
                                            <p class="cart_total_price">@item.TotalPrice.ToString("#,##") đồng</p>
                                        </td>
                                        <td class="cart_delete">
                                            @*<input value="OK" class="btn btn-primary" type="submit" style="margin-top:0px;" />*@
                                            <button class="btn btn-primary" type="submit" style="margin-top:0px;"><i class="fa fa-check" aria-hidden="true"></i></button>
                                            <a style="background:red;" class="cart_quantity_delete" href="@Url.Action("DeleteCartItem","Cart", new { @id=item.ID})" onclick="return confirm('Bạn muốn xóa sản phẩm này?');"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="cart_product" style="margin-top:20px;margin-bottom:20px; margin-right:20px;">
                                        <a href="@Url.Action("Detail", "Product", new { @id = item.ID })"><img style="width:110px;" src="@item.ImageProduct" alt=""></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="@Url.Action("Detail", "Product", new { @id = item.ID })">@item.ProductName</a></h4>
                                        <p>Mã sản phẩm: @item.ProductID</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Price.ToString("#,##") đồng</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2" disabled>
                                        </div>
                                    </td>
                                    <td class="cart_total" style="width:200px;">
                                        <p class="cart_total_price">@item.TotalPrice.ToString("#,##") đồng</p>
                                    </td>
                                    <td class="cart_delete" style="margin-left:20px;">
                                        <a style="background:#049c87;" class="cart_quantity_delete" href="@Url.Action("EditCartItem","Cart", new { @id=item.ID})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a style="background:red;" class="cart_quantity_delete" href="@Url.Action("DeleteCartItem","Cart", new { @id=item.ID})"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</section> <!--/#cart_items-->
